<h2>CO2 data for 2017 and 2018</h2>
<h3>Statistics</h3>
<TABLE vertical-align= "top">
<TR>
	<TH></TH>
	<TH>Real data</TH>
	<TH>Interpolated data</TH>

</TR>

<TR>
<TD>Seasons Medians</TD>
<TD>
{% if real_medians %}
    <ul>
    {% for index,value in real_medians.items%}
        <li>{{index}}  :  {{value}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data available.</p>
{% endif %}
</TD>
<TD>
{% if interpolate_medians %}
    <ul>
    {% for index,value in interpolate_medians.items%}
        <li>{{index}}  :  {{value}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data available.</p>
{% endif %}
</TD>
</TR>
<TR>
	<TD>
Means
</TD>
<TD>
{% if real_means %}
    <ul>
    {% for index,value in real_means.items%}
        <li>{{index}}  :  {{value}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data available.</p>
{% endif %}

</TD>
<TD>
{% if interpolate_means %}
    <ul>
    {% for index,value in interpolate_means.items%}
        <li>{{index}}  :  {{value}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data available.</p>
{% endif %}

</TD>
</TR>
</TABLE>
CO2 production :
{% if production_CO2 %}
       {{production_CO2}} Tons
{% else %}
    No data available.
{% endif %}

<h3>Charts</h3>

<TABLE vertical-align= "top">
<TR>
<TD>
Choose start and end dates between 01/01/2017 and 01/01/2019.
<form action="" method="get">
start : <input type="date" name="start" max={{max_date}} min={{min_date}}, value={{start_value}}>
end : <input type="date" name="end" max={{max_date}} min={{min_date}}, value={{end_value}}>
<input type="submit" value="Submit" name="submit">
</form>
</TD>
<TABLE vertical-align= "top">
{%if url_real_img%}
<TR>
 <TD>
 <img type="image" src={{url_real_img}}>
 </TD>   
</TR>
{%endif %}
{%if url_interpolate_img%}
<TR>
 <TD>
    <img type="image" src={{url_interpolate_img}}>
</TD>   
</TR>
{%endif %}
{%if url_interpolate_img%}
<TR>
 <TD>
    <img type="image" src={{url_diff_img}}>
</TD>   
</TR>
{%endif %}
</TR>
</TABLE>
</TABLE>
